.label{
    margin-top: 2vh;
    margin-left: 4vw;
}
.card{
    margin-right:2vh;
    background-size: cover;
    background-position:center;
    
    border-radius: 12px !important; 
}

.cardname{
    font-size: small;
    padding-top: 11vh;
    bottom:0.5vh;
}
.theaterinfo{
    text-align: center;
    font-size: small;
}

.noContent{
    text-align: center;
    margin-left: 4vw;
}

.noContentExp{
    padding-top: 8vh;
}