.avatar {
  background-color: rgb(223, 21, 35)
}

.infos{
  display: flex;
  justify-content: space-between;
  
}

.cinemaScore {
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  size: 20;
}

.user{
  font-size: 1.5vh;
  display: inline-block;
  text-align: left;
  vertical-align: middle;

}

.score{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  size: 14;  
}

.content{
  display: flex;
  justify-content: space-between;
}

.comment{
  display: inline-block;
  text-align: left;

}

.button{
  display: inline-block;
  text-align: right;
}

i.fas,
i.fab {
  size: 2px,
}
