.rating-form {
  padding: 5vw 5vh ;
}

.notification {
  text-align: center;
}

.avatar {
  background-color: rgb(223, 21, 35)
}

.infos{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin: 1vh 0;
}

.user{
  font-size: 1.5vh;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  padding-top: 1vh;
}

.movie-score {
  text-align: center;
  vertical-align: middle;
  padding-top: 10%;

}

.movie-score > p {
  margin: 0;

}

.score{
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  
}

.content{
  display: flex;
  justify-content: space-between;
}

.comment{
  display: inline-block;
  text-align: left;

}

.button{
  display: inline-block;
  text-align: right;
}

.upbutton{
  margin-bottom: 6vh;
}

i.fas,
i.fab {
  size: 2px,
}
