.cinemaList {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

div.v-card__text {
  padding-top: 1vh;
}

#app > div > div.search > div:nth-child(2) > div > div.content > div.pa-4.cinemaList.v-item-group.theme--light.v-slide-group > div.v-slide-group__wrapper > div > div {
  text-align: center;
}

#app > div > div.search > div:nth-child(2) > div > div.content > div.pa-4.cinemaList.v-item-group.theme--light.v-slide-group.v-slide-group--is-overflowing > div.v-slide-group__wrapper > div > div > div {
  position: relative;
  top: 35%
}