.body {
  margin: 0;
  padding: 0;
}

.trailer {
  width: 100%;
}

.details{
  margin: 3vh 5vw;
}

.relative  {
  position: relative;
  padding: 1vh 5vw;
}

.inline {
  display: inline-block;
}
.absolute {
  display: inline-block;
  position: absolute;
  margin: 0;
  right: 3vh;
}

.button {
  margin: 0 1vw;
}

.tab-item {
  margin: 0 3vw;

}
