/* .grid{
    display : grid;
    height : 87vh; 
    grid-gap : 10px 0;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(4,1fr);
    grid-template: 
    [header-start] "header header header header" 1fr [header-end]
    [search-start] "search search search search" 1fr [search-end]
    [content-start] "content content content content" 4fr [content-end]
    [current-start] "current current current current" 4fr [current-end]
    [released-start] "released released released released" 4fr [released-end]
    [footer-start] "footer footer footer footer" 1fr /1fr 1fr 1fr 1fr [footer-end];
    text-align : center
} */

.movieDetail{
    /* min-height: 82vh;
    height: auto; */
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align : center;
  }