.body{
  min-height: 82vh;
  height: auto;
  margin-top: 3vh;
  margin-bottom: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;

}

.tel{
  color: rgb(246,	194,	68);
  text-decoration: none;
}

.movieCard{
  color: black;
  filter: blur(2px);
}

.onscreens {
  margin-top: 1vh;
  margin-bottom: 2vh;
  margin-left: 3vw;
  margin-right: 3vw;
}